<% if user_signed_in? %>
  <%= form_with(model: [@food, @comments],url: food_comments_path(@food,@comment), remote: true) do |f| %>
    <%= f.text_area :text, placeholder: "コメントする", rows: "2" %>
    <%= f.submit "SEND" %>
  <% end %>
<% else %>
  <strong><p>※※※ コメントするには新規登録/ログインが必要 ※※※</p></strong>
<% end %>
<div class="food-comments">
  <h2>Comments</h2>
  <% @comments.each do |comment| %>
    <%= link_to user_path(comment.user_id) do %>
      <%= comment.user.nickname %>
    <% end %>
      <%= comment.text %>
  <% end %>
</div>