<div class="mypage-followcount-btn">
  <%= link_to followings_user_path(@user) do %>
    <button class="btn btn-mypage-follow">フォロー
      <i class="fas fa-angle-right fa-position-right">
        <%= @user.followings.count %>
      </i>
    </button>
  <% end %>
  <%= link_to followers_user_path(@user) do %>
    <button class="btn btn-mypage-follow">フォロワー
      <i class="fas fa-angle-right fa-position-right">
        <%= @user.followers.count %>
      </i>
    </button>
  <% end %>
  <% if user_signed_in? && @user == current_user %>
    <div class="mypage-introduction-edit">
      <%= link_to edit_user_path(current_user) do %>
        <button class="btn btn-mypage-introduction-edit">プロフィール編集
          <i class="fas fa-edit"></i>
        </button>
      <% end %>
    </div>
  <% else %>
    <%# <% unless @user == current_user %>
    <div class="mypage-follow-btn">
      <% if @user.is_followed_by?(current_user) %>
        <%= link_to user_relationships_path(@user), method: :delete, remote: true do %>
          <button class="btn btn-follow-delete">フォロー中</button>
        <% end %>
      <% else %>
        <%= link_to user_relationships_path(@user), method: :post, remote: true do %>
          <button class="btn btn-follow-create">フォローする</button>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>