<%= render "shared/header2" %>
<div class="edit-mypage-contents">
  <h2 class="edit-mypage-title">EDIT MY PAGE</h2>
  <div class="mypage-main">
    <%= form_with model: current_user, local: true do |f| %>

<%# プロフィール %>
      <div class="edit-mypage-intro">
        <div class="edit-mypage-intro-left">
          <div class="edit-user-icon">
            <h2 class="edit-user-icon-title">現在のアイコン</h2>

            <label class="edit-click-upload">
              <%= f.file_field :icon, class:"edit-food-image-text", type:"file" %>アイコンを変更
            </label>
            <% if @user.icon.present? %>
              <%= image_tag @user.icon, class: "mypage-image" %>
            <% else %>
              <i class="fas fa-user-circle mypage-image"></i>
            <% end %>
          </div>
        </div>

        <div class="edit-mypage-intro-right">
          <div class="edit-mypage-contents-info">
            <h2 class="edit-mypage-nickname">
              <%= f.label :nickname, "ニックネーム" %>
              <%= f.text_field :nickname, class:"edit-mypage-nickname-text", placeholder:"（40文字以内)", maxlength:"40" %>
            </h2>
          </div>

          <div class="edit-mypage-contents-info">
            <h2 class="edit-mypage-email">
              <%= f.label :email, "メールアドレス" %>
              <%= f.text_field :email, class:"edit-mypage-email-text" %>
            </h2>
          </div>

          <div class="edit-mypage-contents-info">
            <h2 class="edit-mypage-introduction">
              <%= f.label :introduction, "紹介文" %>
              <%= f.text_area :introduction, class:"edit-mypage-introduction-text", placeholder:"（200文字以内)", maxlength:"200" %>
            </h2>
          </div>
        </div>
      </div>
<%# /プロフィール欄 %>

<%# 下部ボタン %>
      <div class="mypage-edit-btn-contents">
        <%= f.submit "変更" ,class:"mypage-edit-btn" %>
      </div>
<%# /下部ボタン %>
    <% end %>
  </div>
</div>


<%= render "shared/main_menu" %>

<%= render "shared/footer" %>