<%= render "shared/header2" %>
<div class="mypage-contents">
  <h2 class="mypage-title">MY PAGE</h2>
  <div class="mypage-main">

<%# プロフィール欄 %>
    <div class="mypage-intro">
      <div class="mypage-intro-left">
        <% if @user.icon.present? %>
          <%= image_tag @user.icon, class: "mypage-image" %>
        <% else %>
          <i class="fas fa-user"></i>
        <% end %>
        <h2 class="mypage-nickname">
          <%= @user.nickname %>
        </h2>
      </div>
      <div class="mypage-intro-right">
        <div class="mypage-intro-topright">
          <div class="mypage-follow-contents-<%= @user.id %>">
            <%= render partial:"relationships/relationship", lacals: {user: @user} %>
          </div>
        </div>
        <div class="mypage-intro-bottomright">
          <h2 class="mypage-introduction">
            <%= safe_join(@user.introduction.split("\n"),tag(:br)) %>
          </h2>
        </div>
      </div>
    </div>
<%# /プロフィール欄 %>

  <h2 class="contents-title">MY KARAI</h2>
    <div class="contents-row">
      <% @foods.each do |food| %>
        <li class="list">
          <div class="food-img-content">
            <%= image_tag food.image, class: "food-img" if food.image.attached? %>

            <div class="food-img-content-more">
              <ul class="more_list">
                <li>
                  <%= link_to '詳細', food_path(food.id), method: :get %>
                </li>
                <% if user_signed_in? && current_user.id == food.user_id %>
                  <li>
                    <%= link_to '編集', edit_food_path(food.id), method: :get %>
                  </li>
                  <li>
                    <%= link_to '削除', food_path(food.id), method: :delete %>
                  </li>
                <% end %>
              </ul>
            </div>

            <div class="usershow-food-img-info">
              <h2 class="usershow-shop-name">
              <%= food.shop_name%>
              </h2>
              <h2 class="usershow-food-name">
              <%= food.food_name%>
              </h2>
              <h3 class="usershow-spicy-level-category">
              <%= food.spicy_level.name%>
              </h3>
            </div>
          </div>
        </li>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/main_menu" %>
<%= render "shared/footer" %>