<%= render "shared/header2" %>

<div class="mypage-contents">
  <div class="mypage-main">
    <div class="mypage-intro">
      <h2 class="mypage-title">MY PAGE</h2>
      <% if @image.present? %>
        <%= image_tag @image, class: "mypage-image" %>
      <% else %>
        <%= image_tag "sample.png", class: "mypage-image" %>
      <% end %>

      <div class="mypage-follow-info">
        <h2 class="mypage-follow">フォロー</h2>
          <%= link_to @user.followings.count, followings_user_path(@user) %>
        <h2 class="mypage-follow">フォロワー</h2>
          <%= link_to @user.followers.count, followers_user_path(@user) %>
      </div>
      
      <% if @user == current_user %>
        <p class="lead text-muted">自分のマイページです<%= current_user.email %></p>
      <% else %>

        <% if @user.is_followed_by?(current_user) %>
          <%= link_to user_relationship_path(@user), method: :delete do %>
            <button class="btn btn-danger">フォロー解除</button>
          <% end %>
        <% else %>
          <%= link_to user_relationships_path(@user), method: :post do %>
            <button class="btn btn-primary">フォロー</button>
          <% end %>
        <% end %>
      <% end %>

      <h2 class="mypage-nickname">
        <%= @user.nickname %>
      </h2>
      <h2 class="mypage-introduction">一言入れる機能
        <%= @user.introduction %>
      </h2>
    </div>

      <div class="contents-row">
      <% @user.foods.each do |food| %>
        <li class="list">
          <div class="food-img-content">
            <%= image_tag food.image, class: "food-img" if food.image.attached? %>

            <div class="food-img-content-more">
              <ul class="more_list">
                <li>
                  <%= link_to '詳細', food_path(food.id), method: :get %>
                </li>
                <% if user_signed_in? && current_user.id == food.user_id %>
                  <li>
                    <%= link_to '編集', edit_food_path(food.id), method: :get %>
                  </li>
                  <li>
                    <%= link_to '削除', food_path(food.id), method: :delete %>
                  </li>
                <% end %>
              </ul>
            </div>

            <div class="food-img-info2">
              <h2 class="shop-name2">
              <%= food.shop_name%>
              </h2>
              <h2 class="food-name2">
              <%= food.food_name%>
              </h2>
              <h3 class="spicy-level-category2">
              <%= food.spicy_level.name%>
              </h3>
            </div>
          </div>
        </li>
      <% end %>
      </div>
  </div>
</div>

<%= render "shared/main_menu" %>

<%= render "shared/footer" %>