<div class="menu-bar">
  
  <div class="menu-details">
    <%= link_to(root_path, class: 'main-menu-btn') do %>
      <div class="menu-details-home">
        <i class="fas fa-home"></i>
        <h2 class="menu-content">HOME</h2>
      </div>
    <% end %>
  </div>

  <div class="menu-details">
    <div class="search-contents">
      <div class="fas fa-search" id="back-btn"></div>
        <h2 class="menu-content" id="back-btn">SEARCH</h2>
    </div>
  </div>

  <div class="menu-details">
    <%= link_to(new_food_path, class: 'main-menu-btn') do %>
      <div class="menu-details-new">
        <i class="fab fa-hotjar"></i>
        <h2 class='menu-content'>POST</h2>
      </div>
    <% end %>
  </div>

  <div class="menu-details">
    <% if user_signed_in? %>
      <%= link_to(user_path(current_user), class: "user-nickname") do %>
        <div class="menu-details-mypage">
          <i class="fas fa-portrait"></i>
          <h2 class="menu-content">MY PAGE</h2>
        </div>
      <% end %>
    <% else %>
      <%= link_to(new_user_session_path, method: :get, class: "log-in") do %>
        <div class="menu-details-login">
          <i class="fas fa-door-open"></i>
          <h2 class="menu-content">LOG IN</h2>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="menu-details">
    <% if user_signed_in? %>
      <%= link_to(destroy_user_session_path, method: :delete, class: "log-out", data:
       {confirm: 'ログアウトしますか?',
        cancel: 'やめる',
        commit: 'ログアウトする'}, title: 'ログアウトの確認') do %>
        <div class="menu-details-logout">
          <i class="fas fa-door-open"></i>
          <h2 class="menu-content">LOG OUT</h2>
        </div>
      <% end %>
    <% else %>
      <%= link_to(new_user_registration_path, method: :get, class: "sign-up") do %>
        <div class="menu-details-signup">
          <div class="far fa-address-card"></div>
          <h2 class="menu-content">SIGN UP</h2>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="menu-details">
    <div class="menu-details-amai">
      <div class="fas fa-ice-cream"></div>
      <h2 class="menu-content">AMAI</h2>
    </div>
  </div>

</div>

<script>
  $(function() {
    $('.menu-bar').hide();
    $(window).scroll(function () {
      if ($(this).scrollTop() > 120){
        $('.menu-bar').fadeIn()
      }else{
        $('.menu-bar').fadeOut();
      }
    });
  });
</script>

<div class="modalsearch">
  <i class="far fa-times-circle modalsearch-close"></i>
  <div class="modalsearch-contents">
    <div class="modalsearch-left">
      <h2 class="modalsearch-title">Let's<br/>Search !</h2>
    </div>
    <div class="modalsearch-right">
      <div class="modalsearch-contents">
        <%= search_form_for @q, url: search_foods_path, class: "food-search", id:"pull-down" do |f| %>
          <%= f.label :shop_name_or_shop_name_kana_or_food_name_or_station_cont, '店名・メニュー名・駅名', class: "search-label" %><br/>
          <%= f.text_field :shop_name_or_shop_name_kana_or_food_name_or_station_cont, placeholder: "KEYWORD", class: "search-text" %><br/>
          <%= f.label :user_nickname_cont, 'ユーザー名', class: "search-label" %><br/>
          <%= f.text_field :user_nickname_cont, placeholder: "KEYWORD", class: "search-text" %><br/>
          <%= f.label :meal_type_id_eq, '種類', class: "search-label" %><br/>
          <%= f.collection_select :meal_type_id_eq, MealType.all, :id, :name, {include_blank: '--', disabled: 0}, class: "search-text" %><br/>
          <%= f.label :spicy_level_id_eq, '辛さ', class: "search-label" %><br/>
          <%= f.collection_select :spicy_level_id_eq, SpicyLevel.all, :id, :name, {include_blank: '--', disabled: 0}, class: "search-text" %><br/>
          <%= f.submit "SEARCH", class: "search-submit" %><br/>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="masksearch"></div>

<script>
  $(function() {
    $('.search-contents').on('click',function(){
      $('.modalsearch,.masksearch').fadeIn();
    });
    $('.modalsearch-close,.masksearch').on('click',function(){
      $('.modalsearch,.masksearch').fadeOut();
    });
  });
</script>