<h2 class="ranks-title">Ranking !</h2>
  <div class="ranks">
  <div class="ranks-img">
    <% @ranks.each do |food| %>
      
      <div class="ranks-img-content">
        <h2 class="food-post-user">
          <% if food.user.icon.present? %>
            <%= image_tag food.user.icon, class: "icon-img" %>
          <% else %>
            <i class="fas fa-user-circle"></i>
          <% end %>
            <%= link_to user_path(food.user_id) do %>
              <%= food.user.nickname %>
            <% end %>
        </h2>
            <%= link_to food_path(food) do %>
              <%= image_tag food.image, class: "food-img" if food.image.attached? %>
              <div class="food-img-info">
                <h2 class="shop-name">
                  <%= food.shop_name%>
                </h2>
                <h2 class="food-name">
                  <%= food.food_name%>
                </h2>
                <h2 class="food-spicylevel">
                  <%= food.spicy_level.name%>
                </h2>
              </div>
            <% end %>
              
              <h2 class="food-likes-index">KALIKE
                <%= food.likes.count %>
              </h2>
              <% if user_signed_in? %>
                <% if current_user.already_liked?(food) %>
                  <%= link_to "いいねを取り消す", food_likes_path(food,@like), method: :delete %>
                <% else %>
                  <%= link_to "いいね", food_likes_path(food), method: :post %>
                <% end %>
              <% end %>
      
      </div>
    <% end %>
    </div>
  </div>

<script type="text/javascript">
  $(function() {
    $('.ranks-img').slick({
      dots: true
    });
  });
</script>