<div class="login">
  <h2 class="login-title">WELCOME <br/> BACK !</h2>
  <h3 class="login-subtitle">Let's<br/>&emsp;Log in !</h3>
    <div class="login-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, class: "sessions-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "sessions-field" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "sessions-label" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "sessions-field" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: "sessions-label" %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "login-btn" %>
        </div>

        <div class="actions">
          <%= render "devise/shared/links" %>
        </div>

      <% end %>
    </div>
</div>