<%= render "shared/header" %>

<div class="main">
  <div class="food-contents">
  <h2 class="food-contents-title">最新のKARAI</h2>
    <ul class="food-lists">
      <% @foods.each do |food| %>
        <li class="list">
          <div class="food-img-content">
          <%= link_to food_path(food) do %>
            <%= image_tag food.image, class: "food-img" if food.image.attached? %>
            <div class="food-img-info">
              <h2 class="shop-name">
              <%= food.shop_name%>
              </h2>
              <h2 class="food-name">
              <%= food.food_name%>
              </h2>
              <h2 class="food-spicylevel">
              <%= food.spicy_level.name%>
              </h2>
              <h2 class="food-likes-index">KALIKE
              <%= food.likes.count %>
              </h2>
              <% if current_user.already_liked?(food) %>
                <%= link_to 'いいねを取り消す',food_like_path(food), method: :delete %>
              <% else %>
                <%= link_to 'いいね', food_likes_path(food), method: :post %>
              <% end %>

              <%# 検討中 %>
              <%# <h2>いいねしたユーザー</h2> %>
              <%# <% @post.liked_users.each do |user| %>
               <%# <li><%#= user.email %>
              <%# <% end %>

            </div>
          <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<%= render "shared/main_menu" %>

<%= render "shared/footer" %>