<%= render "shared/header" %>

<div class="main">

<%= render "shared/ranks_index" %>

  <div class="food-contents">
    <h2 class="food-contents-title">What's New!</h2>
      <ul class="food-lists">
        <% @foods.each do |food| %>
         <li class="list">
            <div class="food-img-content">
              <div class="food-post-user">
                <div>
                  <%= link_to user_path(food.user_id) do %>
                    <% if food.user.icon.present? %>
                      <%= image_tag food.user.icon, class: "icon-img" %>
                    <% else %>
                      <i class="fas fa-user-circle"></i>
                    <% end %>
                  <% end %>
                </div>
                <div>
                  <%= link_to user_path(food.user_id),class: "index-food-post-user" do %>
                    <%= food.user.nickname %>
                  <% end %>
                </div>
              </div>
              <%= link_to food_path(food) do %>
                <%= image_tag food.image, class: "food-img" if food.image.attached? %>
              <% end %>
                <div class="food-img-info">
                <h1>店名</h1>
                  <h2 class="index-shop-name">
                    <%= food.shop_name%>
                  </h2>
                <h1>メニュー名</h1>
                  <h2 class="index-food-name">
                    <%= food.food_name%>
                  </h2>
                <h1>辛さ採点</h1>
                  <h2 class="index-food-spicylevel">
                    <%= food.spicy_level.name%>
                  </h2>
                </div>
              
              
              <div class="food-likes-<%= food.id %>">
                <%= render partial:"likes/like", locals: {food: food} %>
              </div>

            </div>
          </li>
        <% end %>
      </ul>
  </div>
</div>


<%= render "shared/main_menu" %>

<%= render "shared/footer" %>