<%= render "shared/header2" %>

<div class="main">
  <div class="food-contents">
    <h2 class="food-contents-title">IT'S KARAI!</h2>
      <ul class="food-lists">
        <li class="list">
          <div class="food-img-content">
            <%= image_tag @food.image, class: "food-img" if @food.image.attached? %>

              <div class="food-likes-<%= @food.id %>">
                <%= render partial:"likes/like", locals: {food: @food} %>
              </div>
            
            <div class="food-img-info">

              <h2 class="food-mealtype">
                <%= @food.meal_type.name %>
              </h2>
              <h2 class="foodshop-name">
                <%= @food.shop_name %>
              </h2>
              <h2 class="foodname">
                <%= @food.food_name %>
              </h2>
              <h2 class="food-spicylevel">
                <%= @food.spicy_level.name %>
              </h2>
              <h2 class="foodshop-station">
                <%= @food.station %>
              </h2>
              <h2 class="foodshop-mood">
              <%= @food.shop_mood.name %>
              </h2>
              <h2 class="shop-waitingtime">
              <%= @food.waiting_time.name %>
              </h2>
              <h2 class="foodshop-comment">
              <%= @food.food_comment %>
              </h2>
              
            </div>
          </div>
        </li>
      </ul>
  </div>
<%# コメント欄 %>
  <div class="food-comments-contents-<%= @food.id %>">
    <%= render partial:"comments/comment", lacals: {food: @food} %>
  </div>
<%# /コメント欄 %>

</div>

<%= render "shared/main_menu" %>

<%= render "shared/footer" %>