<%= render "shared/header" %>

<div class="main">
  <div class="food-contents">
  <h2 class="food-contents-title">最新のKARAI</h2>
    <ul class="food-lists">
      <%# <% @food.each do |food| %>
        <li class="list">
          <div class="food-img-content">
          <%= link_to food_path(@food) do %>
            <%= image_tag @food.image, class: "food-img" if @food.image.attached? %>
            <div class="food-img-info">
              <h2 class="shop-name">
              <%= @food.shop_name%>
              </h2>
              <h2 class="food-name">
              <%= @food.food_name%>
              </h2>
              <h3 class="food-spicylevel">
              <%= @food.spicy_level.name%>
              </h3>
            </div>


          <% end %>
          </div>
        </li>
      <%# <% end %>
    </ul>
  </div>
</div>

<%= render "shared/main_menu" %>

<%= render "shared/footer" %>