<%= render "shared/header2" %>

<div class="main">
  <div class="food-contents">
    <h2 class="show-food-contents-title">IT'S KARAI!</h2>
      <div class="show-food-img-content">
        <div class="food-img-content-left">
          <div class="ranks-food-post">
            <div>
              <%= link_to user_path(@food.user_id) do %>
                <% if @food.user.icon.present? %>
                  <%= image_tag @food.user.icon, class: "icon-img" %>
                <% else %>
                  <i class="fas fa-user-circle"></i>
                <% end %>
              <% end %>
            </div>
            <div>
              <%= link_to user_path(@food.user_id),class: "show-food-post-user" do %>
                <%= @food.user.nickname %>
              <% end %>
            </div>
          </div>
          <%= image_tag @food.image, class: "show-food-img" if @food.image.attached? %>
          <div class="food-likes-<%= @food.id %>">
            <%= render partial:"likes/like", locals: {food: @food} %>
          </div>
          <%# コメント欄 %>
          <h2 class="show-food-comments-title">Comments !</h2>
            <div class="food-comments-contents-<%= @food.id %>">
                <%= render partial:"comments/comment", locals: {food: @food} %>
            </div>
          <%# /コメント欄 %>

        </div>
        <div class="food-img-content-right">
          <div class="food-img-info">
            <h1>タイプ</h1>
              <h2 class="show-food-mealtype">
                <% if @food.meal_type.name.present? %>
                  <%= @food.meal_type.name %>
                <% else %>
                  <%= "--" %>
                <% end %>
              </h2>
            <h1>店名</h1>
              <h2 class="show-foodshop-name">
                <% if @food.shop_name.present? %>
                  <%= @food.shop_name %>
                <% else %>
                  <%= "--" %>
                <% end %>
              </h2>
            <h1>メニュー名</h1>
              <h2 class="show-foodname">
                <% if @food.food_name.present? %>
                  <%= @food.food_name %>
                <% else %>
                  <%= "--" %>
                <% end %>
              </h2>
            <h1>辛さ採点</h1>
              <h2 class="show-food-spicylevel">
                <% if @food.spicy_level.name.present? %>
                  <%= @food.spicy_level.name %>
                <% else %>
                  <%= "--" %>
                <% end %>
              </h2>
            <h1>最寄り駅<h1>
              <h2 class="show-foodshop-station">
                <% if @food.station.present? %>
                  <%= @food.station %>
                <% else %>
                  <%= "--" %>
                <% end %>
              </h2>
            <h1>雰囲気</h1>
              <h2 class="show-foodshop-mood">
                <% if @food.shop_mood.name.present? %>
                  <%= @food.shop_mood.name %>
                <% else %>
                  <%= "--" %>
                <% end %>
              </h2>
            <h1>待ち時間</h1>
              <h2 class="show-shop-waitingtime">
                <% if @food.waiting_time.name.present? %>
                  <%= @food.waiting_time.name %>
                <% else %>
                  <%= "--" %>
                <% end %>
              </h2>
            <h1>コメント</h1>
              <h2 class="show-foodshop-comment">
                <% if @food.food_comment.present? %>
                  <%= @food.food_comment %>
                <% else %>
                  <%= "--" %>
                <% end %>
              </h2>
          </div>
        </div>
      </div>
  </div>
</div>

<%= render "shared/main_menu" %>

<%= render "shared/footer" %>